@import './variables';
@import './fonts';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html{
  font-size:10px;
}

.overlay{
  @apply w-full h-full top-0 left-0;
}
.scrollbars-hidden::-webkit-scrollbar{ display: none; }

.btn-theme-darken{
  &:hover, &:focus{ @apply bg-black-a03 }
  &:focus{ @apply outline-none; }
}

.children-mt-em > * + *{ margin-top: 1.2em; }

button{
  font-weight: inherit;
}